.account {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 400px;
  height: 92vh;
  background-color: #f6f6f2;
}

.accountleft {
  background-color: #f6f6f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmax;
  box-sizing: border-box;
  overflow-y: auto;
}
.accountright {
  background-color: white;
  padding: 2vmax;
  box-sizing: border-box;
  overflow-y: auto;
  height: 80vh;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 56px;
}

.acoount_disc {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;

  align-items: center;
}

.acoount_discGG {
  display: flex;
  margin-top: 20px;

  justify-content: space-between;
}

.accountright img:hover {
  transform: scale(1.1);
}

.accountright img {
  transition: all 0.5s;
}

.accountright > h5 {
  margin: 2vmax;
}

.acoount_discGG > a {
  color: rgb(73, 73, 73);
  text-decoration: none;
  font: 100 1rem "Roboto";
  text-align: center;
  margin-top: 2vmax;
  padding: 0.5vmax 1vmax;
  transition: all 0.5s;
}

.acoount_discGG > a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
}
/* .accountright > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vmax;
} */

.acoount_disc > div > button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
}
.acoount_disc > div > button {
  border: none;
  background-color: white;
  cursor: pointer;
  transition: all 0.5s;
  padding: 0.5vmax 1vmax;
}

@media screen and (max-width: 600px) {
  .account {
    grid-template-columns: 2fr 1fr;
  }

  .accountleft {
    padding: 0;
    min-height: 90vh;
  }

  .accountright > a {
    font: 100 1rem "Roboto";
    margin-top: 6vw;
  }
}
